ipykernel
numpy
pandas
scikit-learn
matplotlib
sqlalchemy
seaborn
tqdm
xgboost
plotly
dash
jupyter-dash
tensorflow-gpu==2.6
keras
tflite
simple_image_download
opencv-python-headless
pytesseract
dask
ipywidgets
tqdm
# pytesseract-ocr
mypy
gbif-dl
psycopg2-binary