ipykernel
numpy
pandas
scikit-learn
matplotlib
seaborn
tqdm
xgboost
plotly
dash
jupyter-dash
tensorflow-gpu==2.6
keras
tflite
simple_image_download
opencv-python-headless
pytesseract
# pytesseract-ocr